h1 {
    font-size: 60;
    position: absolute;
    top: 50px;
    left: 900px;
    font-size: 60px;
}

body {
   background-color: #0f0e0ef1;
   color: white;
   font-size: 40;
}

.a {
    position: absolute;
    top: 50px;
    left: 210px;

}

.b {
    position: absolute;
    top: 600px;
    left: 180px;
}

.c{
    position: absolute;
    top: 500px;
    left: 910px;

}


section {
    position: absolute;
    top: 200px;
    left: 910px;
    font-size: 20px;
    
}
button.btn {
    width: 350px; height: 50px; background-color:#0f0e0ef1 ;
    color:white; font-size: 16; font-weight: bold;
    position: absolute;
    top: 300px;
    left: 1500px;
    
}

button.btn2 {
    width: 350px; height: 50px; background-color:#0f0e0ef1 ;
    color:white; font-size: 16; font-weight: bold;
    position: absolute;
    top: 400px;
    left: 1500px;
    
}

